body {
  background-color: #2d271c;
}
.container {
  width: 1220px;
  height: 660px;
  background: url('./background.png');
  position: relative;
}
.bird {
  position: absolute;
  width: 51px;
  height: 45px;
  background: url('./reactangular.png');
  background-size: contain;
  cursor: grab;
  transition: all .09s;
  z-index: 10;
}
.target {
  position: absolute;
  width: 152px;
  height: 132px;
  background: url('./vue.png');
  background-size: contain;
  cursor: crosshair;
}
.target-hit {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  opacity: .4;
}
@keyframes shake {
  0% { transform: translate(2px, 2px) rotate(0deg); }
  10% { transform: translate(-2px, -4px) rotate(-3deg); }
  20% { transform: translate(-6px, 0px) rotate(3deg); }
  30% { transform: translate(6px, 4px) rotate(0deg); }
  40% { transform: translate(2px, -2px) rotate(3deg); }
  50% { transform: translate(-2px, 4px) rotate(-3deg); }
  60% { transform: translate(-6px, 2px) rotate(0deg); }
  70% { transform: translate(6px, 2px) rotate(-3deg); }
  80% { transform: translate(-2px, -2px) rotate(3deg); }
  90% { transform: translate(2px, 4px) rotate(0deg); }
  100% { transform: translate(2px, -4px) rotate(-3deg); }
}